<div
    class="grid grid-cols-1 md:grid-cols-12 border-4 border-retro-500 bg-retro-50 shadow-[8px_8px_0px_0px_var(--color-retro-500)] min-h-[500px] overflow-hidden relative">

    <div class="md:col-span-4 border-b-4 md:border-b-0 md:border-r-4 border-retro-500 flex flex-col bg-retro-300 z-10">

        <div
            class="p-3 bg-retro-400 text-retro-50 text-xs font-bold tracking-widest uppercase border-b-4 border-retro-500 flex justify-between items-center">
            <span>Lista Proyectos</span>

            <button (click)="toggleSort()"
                class="flex items-center gap-1 hover:text-retro-200 transition-colors cursor-pointer group">
                <span class="text-[10px] text-retro-100 group-hover:text-retro-50">
                    {{ sortOrder() === 'asc' ? 'RECIENTE ▲' : 'ANTIGUO ▼' }}
                </span>
            </button>
        </div>

        <div class="flex-grow overflow-y-auto">
            @for (project of sortedProjects(); track project.id) {
            <button (click)="select(project)" [class.bg-retro-100]="selectedProject().id === project.id"
                [class.text-retro-500]="selectedProject().id === project.id"
                class="w-full text-left p-4 border-b-2 border-retro-500 hover:bg-retro-100/50 transition-all group relative overflow-hidden active:translate-y-[2px] active:border-b-0">

                <div class="flex items-center justify-between w-full relative z-10">
                    <div class="flex items-center gap-3">
                        <span class="text-[10px] text-retro-500">►</span>
                        <div>
                            <p class="font-bold text-sm uppercase leading-tight">{{ project.title }}</p>
                            <p class="text-[9px] opacity-70 italic uppercase tracking-tighter">
                                {{ project.type }}
                            </p>
                        </div>
                    </div>

                    <div class="flex items-center gap-2 opacity-60 group-hover:opacity-100 transition-opacity"
                        [class.opacity-100]="selectedProject().id === project.id">
                        @for (icon of project.mainTechs; track icon) {
                        <i class="devicon-{{ icon }}-plain text-3xl text-retro-500"></i>
                        }
                    </div>
                </div>

                <div *ngIf="selectedProject().id === project.id"
                    class="absolute left-0 top-0 bottom-0 w-1 bg-retro-500">
                </div>
            </button>
            }
        </div>
    </div>

    <div class="md:col-span-8 p-8 flex flex-col bg-gradient-to-br from-retro-300 to-retro-400 z-10 relative">

        <div class="mb-6 relative">
            <div class="flex justify-between items-start border-b-4 border-retro-500 pb-4">
                <div>
                    <span class="text-[10px] font-bold text-retro-100 uppercase tracking-widest">Nombre Proyecto</span>
                    <h2 class="text-3xl font-bold uppercase text-retro-50">{{ selectedProject().title }}</h2>
                </div>
                <div
                    class="bg-retro-500 text-retro-50 px-3 py-1 text-[10px] font-bold border-2 border-retro-50 shadow-[3px_3px_0px_0px_var(--color-retro-500)]">
                    ID: 00{{ selectedProject().id }}
                </div>
            </div>
        </div>

        <div (click)="openModal()"
            class="mb-6 border-4 border-retro-500 overflow-hidden shadow-[4px_4px_0px_0px_var(--color-retro-500)] cursor-zoom-in group relative">
            <div
                class="absolute inset-0 bg-retro-500/10 opacity-0 group-hover:opacity-100 transition-opacity flex items-center justify-center">
                <span
                    class="bg-retro-500 text-retro-50 px-2 py-1 text-[10px] font-bold border-2 border-retro-50">AMPLIAR</span>
            </div>
            <img [src]="selectedProject().imageUrl" [alt]="selectedProject().title" class="w-full h-auto">
        </div>

        <div class="flex-grow space-y-6">
            <div class="bg-retro-100 border-2 border-dashed border-retro-500 p-4">
                <p class="text-sm leading-relaxed">{{ selectedProject().description }}</p>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 bg-retr">
                <div>
                    <h4 class="text-xs font-bold mb-3 border-l-4 border-retro-100 pl-2 uppercase text-retro-100">Logros
                        Técnicos</h4>
                    <ul class="space-y-1">
                        @for (feat of selectedProject().features; track feat) {
                        <li class="text-[11px] flex items-center gap-2 text-retro-50">
                            <span class="text-retro-50">★</span> {{ feat }}
                        </li>
                        }
                    </ul>
                </div>

                <div>
                    <h4 class="text-xs font-bold mb-3 border-l-4 border-retro-50 pl-2 uppercase text-retro-100">
                        Tecnologías</h4>
                    <div class="flex flex-wrap gap-2">
                        @for (t of selectedProject().tech; track t) {
                        <span
                            class="text-[9px] font-bold px-2 py-0.5 border border-retro-500 bg-retro-50 shadow-[2px_2px_0px_0px_var(--color-retro-500)]">
                            {{ t }}
                        </span>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-auto pt-6 border-t-2 border-retro-200 flex justify-between items-center">
            <a [href]="selectedProject().repositoryUrl" target="_blank"
                class="bg-retro-500 text-retro-50 px-6 py-2 text-xs font-bold border-2 border-retro-50 shadow-[4px_4px_0px_0px_var(--color-retro-500)] hover:translate-x-1 hover:translate-y-1 hover:shadow-none transition-all">
                VER EN GITHUB
            </a>
        </div>

    </div>
</div>


<div *ngIf="isModalOpen()" class="fixed inset-0 z-[100] flex items-center justify-center p-4 md:p-8">

    <div (click)="closeModal()" class="absolute inset-0 bg-retro-500/90 backdrop-blur-sm"></div>

    <div
        class="relative z-10 border-8 border-retro-500 bg-retro-50 shadow-[12px_12px_0px_0px_rgba(0,0,0,0.5)] overflow-hidden max-h-[90vh] flex items-center justify-center">

        <button (click)="closeModal()"
            class="absolute top-2 right-2 z-20 bg-retro-400 text-retro-50 px-3 py-1 border-4 border-retro-500 shadow-[4px_4px_0px_0px_var(--color-retro-500)] font-bold hover:bg-retro-100 hover:text-retro-500 active:translate-y-1 active:shadow-none transition-all">
            [ X ]
        </button>

        <img [src]="selectedProject().imageUrl" [alt]="selectedProject().title"
            class="max-w-full max-h-[85vh] object-contain block">

        <div
            class="absolute bottom-2 left-2 bg-retro-500/80 text-retro-50 px-2 py-0.5 text-[8px] font-mono border border-retro-50 backdrop-blur-md">
            {{ selectedProject().title }}
        </div>
    </div>
</div>