@import "tailwindcss";

@font-face {
  font-family: 'Minecraft';
  src: url('/Minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-serif: "Minecraft", ui-serif, Georgia, serif;
}

@layer base {
  body {
    font-family: var(--font-serif);
    image-rendering: pixelated; 
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    text-rendering: optimizeSpeed;
  }
}